<tr id="alert_<%= alert.id %>">
  <td><%= alert.symbol %></td>
  <td><%= alert.direction %></td>
  <td><%= alert.threshold_price %></td>
  <td><%= number_with_precision(alert.last_price, precision: 2) if alert.last_price.present? %></td>
  <td><%= alert.active %></td>
  <td>
    <%= link_to "Show", alert %> |
    <%= link_to "Edit", edit_alert_path(alert) %> |
    <%= link_to "Delete", alert, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </td>
</tr>
